In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.\
        appName("handling_duplicates_missing_values").\
        getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/04/24 09:06:04 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
data_path = "/Users/sukumarsubudhi/Downloads/Learning/Pyspark/Ex_Files_Spark_SQL_DataFrames/Exercise_Files/Data"

In [3]:
import os
os.listdir(data_path)

['server_name.csv', 'utilization.json', 'location_temp.csv', 'utilization.csv']

In [4]:
# Writing data into a dataframe
columns = ['id', 'name', 'age']
vals = [(1, 'Sukumar', 31),\
        (2, 'Sushree', 30),\
        (3, 'Sukumar', 30),\
        (3, 'Sukumar', 30),]
df = spark.createDataFrame(vals,columns)
df.show()

+---+-------+---+
| id|   name|age|
+---+-------+---+
|  1|Sukumar| 31|
|  2|Sushree| 30|
|  3|Sukumar| 30|
|  3|Sukumar| 30|
+---+-------+---+

In [5]:
# Dropping duplicates based on all columns by default
df1 = df.dropDuplicates()
df1.show()

+---+-------+---+
| id|   name|age|
+---+-------+---+
|  1|Sukumar| 31|
|  2|Sushree| 30|
|  3|Sukumar| 30|
+---+-------+---+

In [6]:
# Dropping duplicates based on a particular column
df1 = df.dropDuplicates(["name"])
df1.show()

+---+-------+---+
| id|   name|age|
+---+-------+---+
|  1|Sukumar| 31|
|  2|Sushree| 30|
+---+-------+---+

### Handling missing values

In [13]:
columns = ['name', 'score']
vals = [('Shubhman Gill', 65),\
        ('Rohit Sharma',66),\
        ('Virat Kohli', 85),\
        ('Virat Kohli', None)]
df = spark.createDataFrame(vals,columns)

In [14]:
df.show()

+-------------+-----+
|         name|score|
+-------------+-----+
|Shubhman Gill|   65|
| Rohit Sharma|   66|
|  Virat Kohli|   85|
|  Virat Kohli| null|
+-------------+-----+

In [16]:
df.na.drop().show()

+-------------+-----+
|         name|score|
+-------------+-----+
|Shubhman Gill|   65|
| Rohit Sharma|   66|
|  Virat Kohli|   85|
+-------------+-----+