# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [3]:
from pyspark.sql import SparkSession, functions as f
spark = SparkSession.builder.master("local[1]").appName("spark-exercises-2").getOrCreate()

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [4]:
folder = "/Users/sukumarsubudhi/Downloads/Learning/Pyspark/pyspark_exercises-master/01_Getting_&_Knowing_Your_Data/"
file_path = "chipotle.tsv"
abs_file_path = folder + file_path

In [4]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

In [9]:
# import os
# if not os.path.exists(file_path):
#     with open(file_path, "w") as f:
#         pass

In [10]:
import requests
response = requests.get(url)
data = response.text
with open(file_path, "w") as f:
    f.write(data)

In [8]:
help(os.path.exists)

Help on function exists in module genericpath:

exists(path)
    Test whether a path exists.  Returns False for broken symbolic links

In [5]:
chipo = spark.read\
    .option("delimiter", "\t")\
    .option("header", True)\
    .option("inferschema", True)\
    .csv(file_path)
chipo.show(5)

+--------+--------+--------------------+--------------------+----------+
|order_id|quantity|           item_name|  choice_description|item_price|
+--------+--------+--------------------+--------------------+----------+
|       1|       1|Chips and Fresh T...|                NULL|    $2.39 |
|       1|       1|                Izze|        [Clementine]|    $3.39 |
|       1|       1|    Nantucket Nectar|             [Apple]|    $3.39 |
|       1|       1|Chips and Tomatil...|                NULL|    $2.39 |
|       2|       2|        Chicken Bowl|[Tomatillo-Red Ch...|   $16.98 |
+--------+--------+--------------------+--------------------+----------+
only showing top 5 rows

In [6]:
chipo.printSchema()

root
 |-- order_id: integer (nullable = true)
 |-- quantity: integer (nullable = true)
 |-- item_name: string (nullable = true)
 |-- choice_description: string (nullable = true)
 |-- item_price: string (nullable = true)

### Step 4. See the first 10 entries

In [16]:
chipo.head(10)

[Row(order_id=1, quantity=1, item_name='Chips and Fresh Tomato Salsa', choice_description='NULL', item_price='$2.39 '),
 Row(order_id=1, quantity=1, item_name='Izze', choice_description='[Clementine]', item_price='$3.39 '),
 Row(order_id=1, quantity=1, item_name='Nantucket Nectar', choice_description='[Apple]', item_price='$3.39 '),
 Row(order_id=1, quantity=1, item_name='Chips and Tomatillo-Green Chili Salsa', choice_description='NULL', item_price='$2.39 '),
 Row(order_id=2, quantity=2, item_name='Chicken Bowl', choice_description='[Tomatillo-Red Chili Salsa (Hot), [Black Beans, Rice, Cheese, Sour Cream]]', item_price='$16.98 '),
 Row(order_id=3, quantity=1, item_name='Chicken Bowl', choice_description='[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sour Cream, Guacamole, Lettuce]]', item_price='$10.98 '),
 Row(order_id=3, quantity=1, item_name='Side of Chips', choice_description='NULL', item_price='$1.69 '),
 Row(order_id=4, quantity=1, item_name='Steak Burrito', choice_description='[Tomatillo Red Chili Salsa, [Fajita Vegetables, Black Beans, Pinto Beans, Cheese, Sour Cream, Guacamole, Lettuce]]', item_price='$11.75 '),
 Row(order_id=4, quantity=1, item_name='Steak Soft Tacos', choice_description='[Tomatillo Green Chili Salsa, [Pinto Beans, Cheese, Sour Cream, Lettuce]]', item_price='$9.25 '),
 Row(order_id=5, quantity=1, item_name='Steak Burrito', choice_description='[Fresh Tomato Salsa, [Rice, Black Beans, Pinto Beans, Cheese, Sour Cream, Lettuce]]', item_price='$9.25 ')]

### Step 5. What is the number of observations in the dataset?

In [17]:
# Solution 1
chipo.count()

4622

In [21]:
# Solution 2
chipo.summary("count").show()

+-------+--------+--------+---------+------------------+----------+
|summary|order_id|quantity|item_name|choice_description|item_price|
+-------+--------+--------+---------+------------------+----------+
|  count|    4622|    4622|     4622|              4622|      4622|
+-------+--------+--------+---------+------------------+----------+

### Step 6. What is the number of columns in the dataset?

In [22]:
len(chipo.columns)

5

### Step 7. Print the name of all the columns.

In [23]:
chipo.columns

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

### Step 8. How is the dataset indexed?

In [ ]:
# Not applicable for Pyspark

### Step 9. Which was the most-ordered item?

In [8]:
chipo.groupBy(F.col("item_name")).agg(F.sum(F.col("quantity")).alias("qty_sum")).orderBy("qty_sum", ascending=False).head(5)[0]

Row(item_name='Chicken Bowl', qty_sum=761)

In [12]:
type(chipo.groupBy(F.col("item_name")).agg(F.sum(F.col("quantity")).alias("qty_sum")).orderBy("qty_sum", ascending=False).first())

pyspark.sql.types.Row

In [26]:
item_w_cnt.orderBy(F.col("count"), ascending=False).show(5,False)

+-------------------+-----+
|item_name          |count|
+-------------------+-----+
|Chicken Bowl       |726  |
|Chicken Burrito    |553  |
|Chips and Guacamole|479  |
|Steak Burrito      |368  |
|Canned Soft Drink  |301  |
+-------------------+-----+
only showing top 5 rows

### Step 10. For the most-ordered item, how many items were ordered?

In [4]:
# Available in the earlier code, itself
chipo.select("quantity", "item_name").groupBy("item_name").agg()

NameError: name 'item_w_cnt' is not defined

### Step 11. What was the most ordered item in the choice_description column?

In [4]:
chipo.show(5)

+--------+--------+--------------------+--------------------+----------+
|order_id|quantity|           item_name|  choice_description|item_price|
+--------+--------+--------------------+--------------------+----------+
|       1|       1|Chips and Fresh T...|                NULL|    $2.39 |
|       1|       1|                Izze|        [Clementine]|    $3.39 |
|       1|       1|    Nantucket Nectar|             [Apple]|    $3.39 |
|       1|       1|Chips and Tomatil...|                NULL|    $2.39 |
|       2|       2|        Chicken Bowl|[Tomatillo-Red Ch...|   $16.98 |
+--------+--------+--------------------+--------------------+----------+
only showing top 5 rows

In [9]:
chipo.select("choice_description", "quantity").groupBy("choice_description").agg(F.sum(F.col("quantity")).alias("qty_sum")).sort(F.col("qty_sum").desc()).show(5,False)

+----------------------------------------------------------------------+-------+
|choice_description                                                    |qty_sum|
+----------------------------------------------------------------------+-------+
|NULL                                                                  |1382   |
|[Diet Coke]                                                           |159    |
|[Coke]                                                                |143    |
|[Sprite]                                                              |89     |
|[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]|49     |
+----------------------------------------------------------------------+-------+
only showing top 5 rows

In [10]:
spark.stop()

In [7]:
spark

### Step 12. How many items were orderd in total?

In [8]:
print(chipo.select("item_name").distinct().count())

50

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [9]:
chipo.select("item_price").printSchema()

root
 |-- item_price: string (nullable = true)

#### Step 13.b. Create a lambda function and change the type of item price

In [11]:
from pyspark.sql.types import FloatType
f_chg_col_float = f.udf(f=lambda a_col: float(a_col.replace("$", "")), returnType=FloatType())

In [12]:
chipo1 = chipo.withColumn("item_price_float",f_chg_col_float("item_price"))
chipo1.show(5)

+--------+--------+--------------------+--------------------+----------+----------------+
|order_id|quantity|           item_name|  choice_description|item_price|item_price_float|
+--------+--------+--------------------+--------------------+----------+----------------+
|       1|       1|Chips and Fresh T...|                NULL|    $2.39 |            2.39|
|       1|       1|                Izze|        [Clementine]|    $3.39 |            3.39|
|       1|       1|    Nantucket Nectar|             [Apple]|    $3.39 |            3.39|
|       1|       1|Chips and Tomatil...|                NULL|    $2.39 |            2.39|
|       2|       2|        Chicken Bowl|[Tomatillo-Red Ch...|   $16.98 |           16.98|
+--------+--------+--------------------+--------------------+----------+----------------+
only showing top 5 rows

#### Step 13.c. Check the item price type

In [13]:
chipo1.select("item_price_float").printSchema()

root
 |-- item_price_float: float (nullable = true)

### Step 14. How much was the revenue for the period in the dataset?

In [14]:
chipo = chipo1.withColumn(colName="order_value", col=f.col("quantity") * f.col("item_price_float"))

In [15]:
chipo.agg({"order_value": "sum"}).alias("total_revenue").show()

+----------------+
|sum(order_value)|
+----------------+
|39237.0197327137|
+----------------+

### Step 15. How many orders were made in the period?

In [16]:
print(chipo.select("order_id").distinct().count())

1834

In [36]:
chipo.agg(f.sum(f.col("order_value")).alias("total_revenue")).collect()[0]["total_revenue"]

39237.0197327137

### Step 16. What is the average revenue amount per order?

In [38]:
# Solution 1
total_revenue_amount = chipo.agg(f.sum(f.col("order_value")).alias("total_revenue")).collect()[0]["total_revenue"]
total_no_of_orders = chipo.select("order_id").distinct().count()
avg_rev_per_order = total_revenue_amount / total_no_of_orders
print(avg_rev_per_order)

21.394231042919138

### Step 17. How many different items are sold?

In [39]:
chipo.show(5)

+--------+--------+--------------------+--------------------+----------+----------------+-----------+
|order_id|quantity|           item_name|  choice_description|item_price|item_price_float|order_value|
+--------+--------+--------------------+--------------------+----------+----------------+-----------+
|       1|       1|Chips and Fresh T...|                NULL|    $2.39 |            2.39|       2.39|
|       1|       1|                Izze|        [Clementine]|    $3.39 |            3.39|       3.39|
|       1|       1|    Nantucket Nectar|             [Apple]|    $3.39 |            3.39|       3.39|
|       1|       1|Chips and Tomatil...|                NULL|    $2.39 |            2.39|       2.39|
|       2|       2|        Chicken Bowl|[Tomatillo-Red Ch...|   $16.98 |           16.98|      33.96|
+--------+--------+--------------------+--------------------+----------+----------------+-----------+
only showing top 5 rows

In [40]:
chipo.select("item_name").distinct().count()

50

In [41]:
spark.stop()