In [1]:
# This Pyspark program transform pyspark DF column by removing all numerical and special characters, consider only alphabets
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("only_alphabets").getOrCreate()

24/02/08 08:31:00 WARN Utils: Your hostname, MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.0.224 instead (on interface en0)
24/02/08 08:31:00 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/02/08 08:31:01 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [6]:
import pandas as pd
from pyspark.sql.functions import regexp_replace

In [10]:
sample_dict = {"name": ["J4de!", "G10bal"]}
pandas_df = pd.DataFrame(sample_dict)
pandas_df

     name
0   J4de!
1  G10bal

In [11]:
spark_df = spark.createDataFrame(pandas_df)
spark_df.show()

+------+
|  name|
+------+
| J4de!|
|G10bal|
+------+

In [12]:
pattern = "[^a-zA-Z]"
new_df = spark_df.withColumn("new_name", regexp_replace("name", pattern, ""))
new_df.show()

+------+--------+
|  name|new_name|
+------+--------+
| J4de!|     Jde|
|G10bal|    Gbal|
+------+--------+