In [1]:
import pandas as pd

In [2]:
sales_temp = pd.read_csv("sales_temp.csv")

In [3]:
type(sales_temp)

pandas.core.frame.DataFrame

In [13]:
sales_temp.groupby("COUNTRY")["SALES"].nlargest(1).reset_index(level=0)

     COUNTRY  SALES
3  AUSTRALIA   2500
0      INDIA   3000
2        USA   8000